* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*::selection {
  color: blue;
  background-color: #6c5555;
}
.header {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7)),
    url(/images/banner.jpeg);
}
.header .text span {
  color: red;
}
nav {
  padding: 2% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 20px 30px #232121;
  background-color: #36373c81;
  width: 100%;
  height: 10px;
}
.logo {
  display: flex;
}

.logo a {
  font-size: 25px;
}

.header h2 {
  color: white;
  margin-left: 10px;
}
.logo i {
  color: rgb(0, 119, 255);
}
.navLinks {
  text-align: right;
  flex: 1;
  right: 5%;
  background: #00000056 transparent;
}
.navLinks ul li {
  display: inline-block;
  padding: 8px 12px;
  list-style: none;
  position: relative;
}
.navLinks ul li a {
  color: white;
  text-decoration: none;
}
.navLinks ul li::after {
  height: 2px;
  width: 0%;
  content: "";
  display: block;
  background: blue;
  margin: auto;
  transition: 0.5s;
}
.navLinks ul li:hover::after {
  width: 100%;
}

.text {
  color: #fff;
  position: absolute;
  width: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
}

h1,
p {
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
}
p {
  font-size: 1.3rem;
}

.text a {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  cursor: pointer;
  padding: 15px 10px;
  position: relative;
}
.text a:hover {
  background-color: blue;
  transition: 0.8s;
}
nav .navLinks .fa-xmark,
nav .fa-bars {
  display: none;
}
.courses,
.campus,
.facilities,
.comments {
  width: 90%;
  margin-top: 80px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

.courses h5,
.courses h2,
.campus h2,
.facilities h2,
.comments h2 {
  color: black;
}

.courses h2,
.campus h2,
.facilities h2,
.comments h2 {
  margin-bottom: 15px;
}

.cards {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: rgb(139, 223, 214);
  flex-basis: 28%;
  height: auto;
  width: 300px;
  margin: 10px 0;
  padding: 15px;
  border-radius: 17px;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.08);
}
.card h5 {
  font-size: large;
  margin-bottom: 11px;
}
.cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.carte {
  border-radius: 15px;
  margin-bottom: 5%;
  flex-basis: 31%;
  text-align: left;
}
.carte img {
  border-radius: 15px;
  width: 100%;
  height: 260px;
}
.carte:first-child {
  flex-basis: 25%;
}

.carte p {
  font-size: 1rem;
}
.carte h3 {
  margin-bottom: 30px;
}
.says {
  border-radius: 16px;
  flex-basis: 44%;
  text-align: left;
  margin-bottom: 5%;
  padding: 25px;
  background: rgb(243, 151, 151);
  display: flex;
}
.says img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  border-radius: 50%;
  margin-left: 5px;
}
.says p {
  padding: 0;
}
.says h3 {
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: left;
  color: orangered;
  font-weight: 800;
}
.says h3 span {
  color: #fff;
}
.says i {
  color: yellow;
}
.contactus {
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(/images/contact.jpg);
  margin: 100px auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  padding: 150px 0;
}
.contactus h2 {
  margin-bottom: 50px;
}
.contactus a {
  color: white;
  background: transparent;
  padding: 20px;
  border: 1px solid white;
  text-decoration: none;
  font-weight: 600;
}
.contactus a:hover {
  background-color: blue;
}
.footer {
  display: flex;
  justify-content: center;
}
.fa-facebook:hover {
  color: blue;
}
.fa-instagram:hover {
  color: red;
}
.fa-github:hover {
  color: black;
}
.sub-header {
  width: 100%;
  background-image: linear-gradient(rgb(4, 9, 30, 0.7)),
    url(/images/banner.jpeg);
  height: 50vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.sub-header h1 {
  margin-top: 90px;
  color: #1f94ce;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
}

.about-us {
  margin: auto;
  padding-top: 80px;
  width: 80%;
  padding-bottom: 50px;
}

.about-us .row {
  display: flex;
}
.about-us .col {
  padding: 30px 2px;
  flex-basis: 48%;
}
.about-us .col img {
  border-radius: 15px;
  width: 100%;
}
.about-us h2 {
  padding-top: 40px;
  margin-top: 40px;
}
.about-us p {
  padding: 20px 0 25px;
}
.location {
  margin: auto;
  padding: 80px 0;
  width: 80%;
}
.location iframe {
  width: 100%;
}
.contacter-nous {
  margin: auto;
  width: 80%;
}
.contacter-nous .col {
  margin-bottom: 30px;
  flex-basis: 48%;
}
.contacter-nous input,
.contacter-nous textarea {
  font-size: 1rem;
  padding: 15px;
  width: 100%;
  outline: 0;
  margin-bottom: 10px;
}
.contacter-nous form {
  padding: 15px;
  border: 2px solid blue;
}
.contacter-nous row {
  display: flex;
}
.contacter-nous .col div {
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}
.contacter-nous h5,
.contacter-nous p {
  color: black;
}
.contacter-nous h5 {
  font-weight: 600;
  font-size: larger;
}
.contacter-nous p {
  font-weight: 300;
  font-size: 15px;
}

.contacter-nous i {
  color: blue;
  margin: 10px;
  font-size: 29px;
  margin-right: 30px;
}
.contacter-nous button {
  font-size: 20px;
  border: 1px solid black;
  color: blue;
  padding: 10px;
  margin: 10px;
  background: none;
  cursor: pointer;
}
.contacter-nous button:hover {
  background-color: blue;
  color: white;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  .navLinks ul li {
    margin: 20px 10px;
    display: block;
    padding: 10px 20px;
  }
  .navLinks {
    background: blue;
    position: fixed;
    width: 200px;
    height: 100vh;
    right: -200px;
    top: 0;
    z-index: 2;
    text-align: left;
    transition: 0.6s;
  }
  p,
  .text a {
    font-size: 1rem;
  }
  nav .navLinks .fa-xmark,
  nav .fa-bars {
    color: #fff;
    display: block;
    font-size: 26px;
    cursor: pointer;
    margin: 10px;
  }
  .cards,
  .cards2,
  .cartes {
    flex-direction: column;
  }
  .contactus h2 {
    font-size: 1rem;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}
